*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#ffffff;
    --second-bg-color:#112e42;
    --text-color:#000000;
    --main-color:#662d91; 
     /* --main-color:#793FDF;  */

}
.main-theme{
    --bg-color:#ffffff;
    --second-bg-color:#112e42;
    --text-color:#000000;
    --main-color:#662d91;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1.2s;
    overflow-x: hidden;
}
#preloader{
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    animation: delayleft 1.5s ease forwards;
    animation-delay: .2s;
}
#menu-icon{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;    
}
 
.navbar a{
    font-weight: 500;
    font-size: 1.9rem;
    color: var(--text-color);
     margin-left: 3.5rem;
     transition: .3s;
     animation:delayright 1.5s ease forwards;
     animation-delay: calc(.2s*var(--i));
         opacity: 0; 
}

.navbar a:hover,.navbar a.active{
       color: var(--main-color);
}
section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
/* home design */
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.homecontent{
    max-width: 60rem;
    position: relative;
    top: 4rem;
}

.homecontent h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    animation:delaytop 2s ease forwards;
    animation-delay: 1s;
        opacity: 0;
}
.homecontent h1 span{
    color: var(--main-color);
    animation: delaytop 3s ease forwards;
    animation-delay: 1.5s;
        opacity: 0;
}

.homecontent #element{
    width: 32.8rem;
   position: relative; 
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}   
.typed-cursor.typed-cursor--blink{
    font-size: 3.2rem;
}
.homecontent p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    line-height: 1.6;
    animation: delayleft 1.5s ease forwards;
    animation-delay: 1s;
        opacity: 0;
}
.btnbox{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 35.4rem;
    height: 5rem;
}
.btnbox .btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 1.8rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
 overflow: hidden;
 transition: .5s;
 animation: delaybottom 1.3s ease forwards;
    animation-delay: .4s;
        opacity: 0;
}

.btnbox .btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: var(--bg-color);
}
.btnbox .btn:hover:before{
width: 100%;
}

.btnbox .btn:hover
    {
       color: var(--main-color);
    }
.btnbox .btn:nth-child(2){
color: var(--main-color);
background: transparent;
}
.btnbox .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btnbox .btn:nth-child(2):hover{
color: var(--bg-color);
}

.social a{
    height: 40px;
    width: 40px;
    background: transparent;
    display: inline-flex;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2.4rem;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    margin: -10px 10px 20px 10px; 
    transition: .56s;
    opacity: 0;
    animation: delayright 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.social a:hover{
   background-color: var(--main-color);
    color: var(--bg-color);
}
.tilt{
    width: 50rem;
    position: relative;
    left: 18rem;
    z-index:-1;
    opacity: 0;
    animation: delayright 2s ease forwards;
    animation-delay: .5s;
}
/* about design */
.aboutbox{
        box-shadow: 0px 4px 13px 2px #ccc;
        border-radius: 5%;
        margin: auto;
        width: 70vw;
        padding: 3rem 9% 2rem;
        min-height: max-content;
        box-shadow: 0px 3px 12px 4px #ccc;
        margin-top: 5rem;
        background-color: white;
}
.about h3{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5rem;
}
.about h3 span{
    color: var(--main-color);
}
.about img{
    width: 27rem;
    display: flex;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 2px 12px 0px #ccc;
    border: 1px solid var(--main-color);
}
.about p{
    margin-top: 5rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.certificate-corner{
    padding: 4rem 5% 2rem 18%;
    background-color: #F6EBFF;
}
.certificate-corner h5{
    font-size: 3rem;
    font-weight: 500;
    margin: 3rem 0 5rem 0;
}
.certificate-corner h5 span{
    color: #7161ef;
}
.certificateflex{
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.certificate{
    height: 12rem;
    width: 55rem;
    display: flex;
    gap: 2rem;
}
.certificate .certificatedetail h4{
    font-size: 2rem;
}
.certificate .certificatedetail p{
    margin: 2px 0;
    color: grey;
    font-size: 1.3rem;
}
.certificate .certificatedetail h6{
    font-size: 1.4rem;
    color: gray;
    font-weight: 100;
}

/* experiencesection design */
 .experience h3{
    font-size: 3rem;
    font-weight:600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 35px;
 }
 .experience h3 span{
    color: var(--main-color);
 }
 .experience .expflex{
    min-width:100vw;
     position: relative;
 }
 .experience .edu{
    height: 600px;
    width: 600px;
    position: absolute;
    left: -6rem;
 }
 
 .experience .exp{
    color: var(--main-color);
    height: 600px;
    width: 600px;
    position: absolute;
    left: 60rem;
 }
.experience h2{
    font-size: 2.3rem;
    font-weight: 600;
    text-align: center;
    margin: 15px 0 0 0;
}
.experience .expflex .educationbox{
    border: 2px solid var(--main-color);
    border-radius: 12px;
    height: 15rem;
    width: 40rem;
    position: relative;
    left: 24rem;
    top:3rem;
    margin-bottom: 12px;
    transition: 1s;
}
.experience .expflex .educationbox:hover{
    box-shadow: 2px 5px 13px 2px #ccc;
}
.educationbox h4{
    position: relative;
    left: 2rem;
    font-size: 2.1rem;
    font-weight: 300;
    color: #000000;
}
.educationbox h5{
    font-size: 12px;
    position: relative;
    left: 5rem;
    top: -1rem;

}
.educationbox  i{
    font-size: 2rem;
    position: relative;
    top: 10px;
    left: 19px;
}
.educationbox p{
    padding: 4px 22px;
    font-size: 10px;
    color: grey;
}
.edu .vr{
    border: 2px solid var(--main-color);
    width: 1px;
    position: absolute;
    height: 324px;
    left: 22rem;
    bottom: 20rem;
}
.exp .vr{
    border: 2px solid var(--main-color);
    width: 1px;
    position: absolute;
    height: 468px;
    left: 22rem;
    bottom: 5rem;
}
/* skills design */
.skills{
    padding: 4rem 19% 2rem;
    min-height: 60vh;
    margin-top: 10rem;
    background-color: #FEFEDF;
}
.skills h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 5rem;
}
.skills h3 span{
    color: var(--main-color);
}
.skills .skillflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skillbox{
    font-size: 2.5rem;
    width: 100px;
    margin: 0 8rem 6rem 0;
}
.skillimg{
    width: 50px;
}

/*project design*/
.project h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 5rem;
}
.project h3 span{
    color: var(--main-color);
}
.project .projectflex{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project  a .projectcontainer{
    width: 72rem;
    height: 18rem;
    box-shadow: 0px 2px 12px 0px #ccc;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    border-radius: 10px;
    transition: .25s;
}
.project  a .projectcontainer:hover{
    box-shadow: 3px 8px 19px 4px #ccc;
}
.projectcontainer h4{
    font-size: 2rem;
    position: relative;
    bottom: 3rem;
    position: relative;
    left: 2rem;
    color: #000000;
}
.projectcontainer p{
    font-size: 10px;
    position: relative;
    left: 2rem;
    bottom: 2rem;
    color: #000000;
    line-height: 1.6;
}

.projectcontainer img{
    width: 25rem;
}


/* contact design */
.contact{
    background: url(/contact.png) transparent;
}
 .contact h3{
    font-size: 3rem;
    font-weight:700;
    color: var(--text-color);
    position: relative;
    text-align: center;
    margin-bottom: 50px;
 }
 .contact h3 span{
    color: var(--main-color);
 }
 .contact form{
    max-height: 70rem;
    text-align: center;
    width: 100%;
 }
 .contact form .inputbox,.contact form .textareabox{
    position: relative;
    width: 65%;
    margin: .8rem 0;
 }
 .contact form .inputbox input,.contact form .textareabox textarea{
    width: 100%;
    height: 100%;
    padding: 1.6rem;
    border: .1rem solid var(--main-color);
    border-radius: 23px;
    color: #000000;
    font-size: 1.4rem;
 }
 .contact .conflex{
    display: flex;
     flex-direction:row;
    align-items: center;
    justify-content: center;
    max-width: 85rem;
 }
 .contact .conflex .congif{
       width:52rem;
     position: absolute;
    left: 90rem;
 }
 .footer{
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 0px 4px 12px 0px #ccc;
height: 6rem;
}
.footer .footer-copyrights{
    font-size: 1.4rem;
    color: gray;
}
.footer-social-links{

    display: flex;
    align-items: center;
}
.footer-social-links li a{
    margin-right: 30px;
    font-size: 13px;
    color: gray;
}





@media screen and (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .tilt{
        left: 10rem;
    }
}
@media screen and (max-width:991px) {
    html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
    .header{
        padding: 2rem 4% ;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .tilt{
        left:4rem;
    }
}

@media screen and (max-width:798px) {
    html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
    .header{
        background-color: transparent;
        z-index:1;
    }
    #menu-icon{
        display: block;
        font-size:3rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 1rem 4%;
        box-shadow: .4rem 1rem #eee;
        transition: .35s ease;
        transition-delay: .25s;
        left: -100%;
    }
    .navbar.active{
        left:0;
        transition-delay: 0.01s;
      transition-delay: 0s;
        background-color:white;

    }
    .navbar a{
        display: block;
        font-size: 2.8rem;
        margin: 3rem;
    }
    .home{
         flex-direction: column;
        width:100%;
        overflow-x:hidden;
    }
    .tilt{
       width: 47rem;
        overflow-x: hidden;
        position: relative;
        left: 0;
        top: 20rem;
    }

    .homecontent{
        position:relative;
        top:16rem;
        width:64rem;
        padding:0 7rem;
    }
    .aboutbox{
        width: 85vw;
    }
}




@media screen and (max-width:458px){
html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
    
    .home{
        flex-direction: column;
        width:100%;
        overflow-x:hidden;
    }
    .homecontent{
        width: 100%;
        position: relative;
        top: 15rem;
        padding:0;
    }
    .tilt{
        width: 40rem;
        overflow-x: hidden;
        position: relative;
        left: 0;
        top: 15rem;
    }

    
    .about .aboutbox{
        width: 100vw;
        position: relative;
        right: 2rem;
    }
   
    .about .abimg img{
        width: 18rem;
    }

    .edu{
        width:10vw;
        height:100vh;
    }
    .experience .edu h2{
        position:relative;
        right:20rem;
    }
    .edu .vr{
      position:absolute;
            left: 8rem;
        top:9rem;
    }
    .experience .expflex .educationbox{
            position: relative;
            left: 10rem;
}
    .skills .skillflex {
     flex-direction:column;
        margin-left:3rem;
}
.project a .projectcontainer
{
    width: 44rem;
    height: fit-content;
    flex-direction: column;
}
.projectcontainer img{
    width: -webkit-fill-available;
}
.projectcontainer h4{
    left: 0;
    top: 1rem;
}
.projectcontainer p{
    margin-bottom: 3rem;
    top: 2rem;
    left: 0;
}

    .contact h3{
        margin-bottom:0rem;
    }
    .contact .conflex{
        flex-direction: column-reverse;
        gap:2rem;
    }
    .contact .conflex .congif{
        width:34rem;
        position:static;
    }
    .contact form .inputbox,.contact form .textareabox{
        width:100%;
    }
    .contact .btnbox{
     margin:auto;
     justify-content: center;
    }

    footer{
        flex-direction: column;
    flex-wrap: wrap;
    height: 10rem;
    gap: 2rem;
    }
}





@keyframes delaybottom {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes delayright {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes delayleft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes delaytop {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}