*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#ffffff;
    --second-bg-color:#112e42;
    --text-color:#000000;
    --main-color:#7e22ce; 
     /* --main-color:#793FDF;  */

}
.main-theme{
    --bg-color:#ffffff;
    --second-bg-color:#112e42;
    --text-color:#000000;
    --main-color:#662d91;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: 1.2s;
    overflow-x: hidden;
}
#preloader{
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    animation: delayleft 1.5s ease forwards;
    animation-delay: .2s;
}
#menu-icon{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 2rem 9%;    
    position: fixed;
}
 .navbar{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 85%;
    z-index: 1;
 }
 .navbar .navbar1{
    background-color: var(--main-color);
    border-bottom-left-radius: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
 }
 .navbar .navbar1 .cont1 a{
    font-weight: 300;
    font-size: 1.5rem;
    color:white;
    margin-left: 10rem;
 }
 .navbar .navbar1 .cont1 a i{
    margin-right: 4px;
    font-size: 2.2rem;
    position: relative;
    top: 5px;
}
.navbar .navbar1 .cont2 a i{
    font-size: 3rem;
    color: white;
    position: relative;
    right: 50px;
    margin-left: 2rem;
}
.navbar .navbar2{
    text-align: right;
}
.navbar .navbar2 a{
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--text-color);
     margin-right: 10rem;
     transition: .3s;
     animation:delayright 1.5s ease forwards;
     animation-delay: calc(.2s*var(--i));
         opacity: 0; 
}
.navbar .navbar2 a:hover,.navbar a.active{
       color: var(--main-color);
}
section{
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
/* home design */
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}

.homecontent{
    max-width: 60rem;
    position: relative;
    top: 6.5rem;
}

.homecontent h1
{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    animation:delaytop 2s ease forwards;
    animation-delay: 1s;
        opacity: 0;
}
.homecontent h1 span{
    color: var(--main-color);
    animation: delaytop 3s ease forwards;
    animation-delay: 1.5s;
        opacity: 0;
}

.homecontent #element{
    width: 32.8rem;
   position: relative; 
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}   
.typed-cursor.typed-cursor--blink{
    font-size: 3.2rem;
}
.homecontent p{
    font-size: 1.5rem;
    margin: 2rem 0 4rem;
    line-height: 1.6;
    animation: delayleft 1.5s ease forwards;
    animation-delay: 1s;
        opacity: 0;
}
.btnbox{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 35.4rem;
    height: 5rem;
}
.btnbox .btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 1.8rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
 overflow: hidden;
 transition: .5s;
 animation: delaybottom 1.3s ease forwards;
    animation-delay: .4s;
        opacity: 0;
}

.btnbox .btn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background-color: var(--bg-color);
}
.btnbox .btn:hover:before{
width: 100%;
}

.btnbox .btn:hover
    {
       color: var(--main-color);
    }
.btnbox .btn:nth-child(2){
color: var(--main-color);
background: transparent;
}
.btnbox .btn:nth-child(2)::before{
    background: var(--main-color);
}
.btnbox .btn:nth-child(2):hover{
color: var(--bg-color);
}

.social a{
    height: 40px;
    width: 40px;
    background: transparent;
    display: inline-flex;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 2.4rem;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    margin: -10px 10px 20px 10px; 
    transition: .56s;
    opacity: 0;
    animation: delayright 1s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.social a:hover{
   background-color: var(--main-color);
    color: var(--bg-color);
}
.tilt{
    width: 50rem;
    position: relative;
    left: 13rem;
    opacity: 0;
    animation: delayright 2s ease forwards;
    animation-delay: .5s;
    z-index: -1;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 9%;
}
.about h1{
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: -30px;
}
.about h1 span{
color: var(--main-color);
}
.aboutcontent{
    max-width: 60rem;
    position: relative;
    top: -5rem;
}
.aboutcontent p{
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    line-height: 1.6;
    animation: delayleft 1.5s ease forwards;
    animation-delay: 1s;
        opacity: 0;
}
.about img{
    width: 30rem;

}
.projects h1{
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: -30px;
}
.projects h1 span{
color: var(--main-color);
}
.projects .projectcontainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.projects .projectcontainer .projectbox{
    height: 50vh;
    border: 1px solid #ccc;
    min-width: 80vw;
    border-radius: 18px;
position: absolute;
top: 30px;
left: 40px;
display: flex;
justify-content: space-around;
align-items: center;
}
.projectbox .projectimg{
width: 50%;
height: 80%;
border: 1px solid  #ccc;
position: relative;
}
.projects .projectcontainer h1{
    font-size: 2.2rem;
    text-align: right;
    position: relative;
    top: 4rem;
}
.projectbox .projectinfo{
width: 50%;
position: relative;
height: 64%;
box-shadow: 2px 0px 3px 4px #ccc;

}


 .footer{
display: flex;
justify-content: space-around;
align-items: center;
box-shadow: 0px 4px 12px 0px #ccc;
height: 6rem;
}
.footer .footer-copyrights{
    font-size: 1.4rem;
    color: gray;
}
.footer-social-links{

    display: flex;
    align-items: center;
}
.footer-social-links li a{
    margin-right: 30px;
    font-size: 13px;
    color: gray;
}





@media screen and (max-width:1200px) {
    html{
        font-size: 55%;
    }
    .tilt{
        left: 10rem;
    }
}
@media screen and (max-width:991px) {
    html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
    .header{
        padding: 2rem 4% ;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .tilt{
        left:4rem;
    }
}

@media screen and (max-width:798px) {
    html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
    .header{
        background-color: transparent;
        z-index:1;
    }
    #menu-icon{
        display: block;
        font-size:3rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        width: 100%;
        padding: 1rem 4%;
        box-shadow: .4rem 1rem #eee;
        transition: .35s ease;
        transition-delay: .25s;
        left: -100%;
    }
    .navbar.active{
        left:0;
        transition-delay: 0.01s;
      transition-delay: 0s;
        background-color:white;

    }
    .navbar a{
        display: block;
        font-size: 2.8rem;
        margin: 3rem;
    }
    .home{
         flex-direction: column;
        width:100%;
        overflow-x:hidden;
    }
    .tilt{
       width: 47rem;
        overflow-x: hidden;
        position: relative;
        left: 0;
        top: 20rem;
    }

    .homecontent{
        position:relative;
        top:16rem;
        width:64rem;
        padding:0 7rem;
    }
    .aboutbox{
        width: 85vw;
    }
}




@media screen and (max-width:458px){
html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
    
    .home{
        flex-direction: column;
        width:100%;
        overflow-x:hidden;
    }
    .homecontent{
        width: 100%;
        position: relative;
        top: 15rem;
        padding:0;
    }
    .tilt{
        width: 40rem;
        overflow-x: hidden;
        position: relative;
        left: 0;
        top: 15rem;
    }

    
    .about .aboutbox{
        width: 100vw;
        position: relative;
        right: 2rem;
    }
   
    .about .abimg img{
        width: 18rem;
    }

    .edu{
        width:10vw;
        height:100vh;
    }
    .experience .edu h2{
        position:relative;
        right:20rem;
    }
    .edu .vr{
      position:absolute;
            left: 8rem;
        top:9rem;
    }
    .experience .expflex .educationbox{
            position: relative;
            left: 10rem;
}
    .skills .skillflex {
     flex-direction:column;
        margin-left:3rem;
}
.project a .projectcontainer
{
    width: 44rem;
    height: fit-content;
    flex-direction: column;
}
.projectcontainer img{
    width: -webkit-fill-available;
}
.projectcontainer h4{
    left: 0;
    top: 1rem;
}
.projectcontainer p{
    margin-bottom: 3rem;
    top: 2rem;
    left: 0;
}

    .contact h3{
        margin-bottom:0rem;
    }
    .contact .conflex{
        flex-direction: column-reverse;
        gap:2rem;
    }
    .contact .conflex .congif{
        width:34rem;
        position:static;
    }
    .contact form .inputbox,.contact form .textareabox{
        width:100%;
    }
    .contact .btnbox{
     margin:auto;
     justify-content: center;
    }

    footer{
        flex-direction: column;
    flex-wrap: wrap;
    height: 10rem;
    gap: 2rem;
    }
}





@keyframes delaybottom {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes delayright {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes delayleft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes delaytop {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{ 
        transform: translateX(0%);
        opacity: 1;
    }
}